<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:each="user: ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}"
       th:text="${user.getName()}">user</a>
</div>
<br>
<br>
<form th:method="GET" th:action="@{/users/new}" th:object="${input}">
    <label for="newUser">Enter name: </label>
    <input type="text" th:field="*{input}" id="newUser">
    <input type="submit" value="Save new user">
</form>
<br>
<a th:href="@{/users/manage}">Manage users</a>

</body>
</html>