<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
</head>
<body>
<br/>
<div th:each="user: ${users}">
    <form th:method="POST"
          th:action="@{/users/manage?method=edit&id={id}(id=${user.getId()})}">
        <label for="userName">User name: </label>
        <input type="text" th:value="${user.getName()}" name="name" id="userName">
        <input type="submit" value="Edit">
    </form>
    <form th:method="POST"
          th:action="@{/users/manage?method=delete&id={id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
    <hr/>
</div>
<br/>
</body>
</html>