<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>

<a th:text="${'Notes of ' + user.getUsername()}"> text</a>
<br>
<br>
<div th:each="note: ${notes}">
    <a th:text="${note.getRecord()}">note text</a>
    <a th:href="@{/users/{userId}/{noteId}(userId=${user.getId()}, noteId=${note.getId})}">Delete</a>
</div>
</br>

<form th:method="POST" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${input}">
    <label for="newNote">Enter text: </label>
    <input type="text" th:field="*{input}" id="newNote">
    <input type="submit" value="Save note">
</form>

</form>
</body>
</html>