<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration page </title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <div><label> User Name : <input type="text" th:field="*{username}" name="username"/> </label></div>
    <div><label> Password: <input type="password" th:field="*{password}" name="password"/> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>
</body>
</html>